/* COMMON */

/* TEST */
/* .container {
    background-color: red;
}

[class*="col-"] {
     background-color: pink;
}

.row {
    background-color: seagreen;
} */
/* HEADER */
nav {
    padding: 20px 0;
}

.burger_menu {
    text-align: right;
    font-size: 15px;
}

.menu {
    display: inline-block;
    padding-left: 20px;
    font-weight: 600;
}

.menu span {
    margin-left: 10px;
}

.menu span a {
    color: #142b58;
}

/* Test */
.test {
    margin: 7px 0;
}

.menu .button_nav {
    border: 1px solid #006aff;
    color: #006aff;
    font-weight: 600;
}
/* END HEADER */

/* MAIN */

/* Jumbotron */
.jumbotron {
    background-image: url("../img/ms-jumbo.jpg");
}
/* End Jumbotron */

/* END MAIN */

/* FOOTER */
/* END FOOTER */