/* COMMON */
.bolder_text {
    color: #142b58;
}

.color_text {
    color: #031c4e;
}

.color_text p{
    color: #75809a;
}

.color_text a {
    color: #006aff;
}

.inner_container {
    padding: 30px 0;
}

.inner_container p{
    color: #75809a;
    font-size: 18px;
}
/* HEADER */
nav {
    padding: 20px 0;
}

.burger_menu {
    text-align: right;
    font-size: 15px;
}

.menu {
    display: inline-block;
    padding-left: 20px;
    font-weight: 600;
}

.menu span {
    margin-left: 10px;
}

.menu span a {
    color: #142b58;
}

/* Test */
.test {
    margin: 7px 0;
}

.menu .button_nav {
    border: 1px solid #006aff;
    color: #006aff;
    font-weight: 600;
}
/* END HEADER */

/* MAIN */

/* Jumbotron */
.jumbotron {
    background-image: url("../img/ms-jumbo.jpg");
    margin-bottom: 0;
}

.text_jumbo {
    color: white;
}

.text_jumbo h1 {
    font-size: 60px;
}

.text_jumbo p{
    color: lightgrey;
    font-size: 20px;
}

.inner_jumbo {
    background-color: white;
    border-radius: 5%;
    padding: 10px;
}

.notehead span {
    color: #006aff;
    display: block;
}

.btn img {
    display: inline-block;
    max-width: 5%;
}

.account_btn {
    background-color: #579aff;
    color: white;
}

.sign_google {
    border: 1px solid white;
    box-shadow: 1px 1px 1px 1px lightgrey;
    color: gray;
}

.terms {
    padding-top: 15px;
    padding-bottom: 30px;
    font-size: 12px;
}
/* End Jumbotron */

/* Banner */
.banner_img {
    background-color: #f3f5f9;
    padding: 30px 0;
}

.inner_banner a {
    color: #579aff;
    font-weight: 600;
}

.inner_banner img {
    margin: auto;
}

.inner_banner h5 {
    text-transform: uppercase;
    color: #6f7b97;
    font-weight: 600;
}
/* End Banner */

/* Deploy & Scale */
.deploy_scale {
    padding-bottom: 50px;
}

.inner_col_deploy h4{
    font-weight: 600;
}

.deploy_list li {
    border-left: 1px solid lightgrey;
    padding: 10px 20px;
    color: #75809a;
}

/* End Deploy & Scale */

/* Designed */
.designed {
    background-color: #f3f5f9;
    padding-bottom: 50px;
}

.designed .color_text h5 {
    font-weight: 600;
}

.designed .color_text a {
    color: #031c4e;
}

.designed .inner_container a {
    color: #579aff;
}
/* End Designed */

/* Features */
.features h4{
    font-weight: 600;
}

.features p{
    color: #75809a;
}

.features a {
    color: #579aff;
    font-weight: 600;
}
/* End Features */

/* Service */
.service {
    background: rgb(0,30,153);
    background: linear-gradient(0deg, rgba(0,30,153,1) 0%, rgba(0,72,198,1) 100%);
    padding: 50px 0;
}

.service h2 {
    color: white;
    font-weight: 600;
}


.tag_city {
    color: white;
    text-transform: uppercase;
}

.city {
    color: #75809a;
}

.td_right {
    text-align: right;
    color: #00d5d1;
}

.td_right a{
    color: #00d5d1;
}
/* End Service */

/* Development */
.development {
    background-color: #f3f5f9;
}

.inner_col_dev {
    background-color: white;
    padding: 25px;
}

.inner_col_dev img{
    margin: auto;
}
/* End Development */

/* Get Started */
.started {
    background: rgb(0,30,153);
    background: linear-gradient(0deg, rgba(0,30,153,1) 0%, rgba(0,72,198,1) 100%);
    padding: 50px 0;
}

.inner_started h2 {
    color: white;
    padding: 20px 0;
}

.inner_started a {
    background-color: white;
    color: #579aff;
    font-weight: 600;
}
/* End Get Started */

/* END MAIN */

/* FOOTER */
/* END FOOTER */